 .calendar{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    row-gap: 20px;
 }
 .date, .day{
    border: 1px solid blueviolet;
    border-radius: 90px;
    text-align: center;
    padding: 20px;
    color: blueviolet;
 }
 .day{
    background-color: blueviolet;
    color: #ffff;
 }
 .today{
    background-color: blueviolet;
    color: #ffff;
 }
.date:hover{
    background-color: blueviolet;
    color: #ffff;
}
.old{
    background-color: #ccc0c0;
    color: rgb(181, 171, 190);
    border: 1px solid rgb(215, 210, 219);
    border-radius: 90px;
}
.new{
    background-color: rgb(57, 6, 104);
    color: #fefefe;
}
h2{
    text-align: center;
    justify-content: flex-start;
}